node_modules/
public/styles
.env
*.log
*.sqlite3
../.DS_Store
client/.DS_Store
server/.DS_Store
server/public/images/users/1/0a7959738a67d7deb062c69c34a7bca2
server/public/images/users/1/0b351d16ce390992e1621494a3984d9a
server/public/images/users/1/32493bb55a002efe997253ff71227e42
server/public/images/users/1/684dc3d648867ed32b1ec11d2a8ed01e
server/public/images/users/1/73e6f5676473232c6b933db78bbcde56
server/public/images/users/1/8242d959cf6f4387e7c3fbf69a0fc3ae
server/public/images/users/1/8aa46c47cbfec9e23fecd5b0c9115db5
server/public/images/users/1/a2debc28b9053d6d6322fea3324dd3bb
server/public/images/users/1/d6088eb2b08634974e324485573057f7
  server/public/.DS_Store
server/public/images/.DS_Store
server/public/images/users/.DS_Store
server/public/images/users/1/.DS_Store
server/public/images/users/:id/.DS_Store
client/.DS_Store
client/src/.DS_Store
server/public/.DS_Store
server/public/images/.DS_Store
server/public/images/users/.DS_Store
server/public/images/users/1/.DS_Store
server/public/images/users/:id/.DS_Store
