node_modules/
public/styles
.env
*.log
*.sqlite3
../.DS_Store
client/.DS_Store
server/.DS_Store
server/public/images/users
server/public/.DS_Store
server/public/images/.DS_Store
server/public/images/users/.DS_Store
server/public/images/users/1/.DS_Store
server/public/images/users/:id/.DS_Store
client/.DS_Store
client/src/.DS_Store
server/public/.DS_Store
server/public/images/.DS_Store
.DS_Store

