html {
  min-height: 100%
}

body {
  font-family: "Lato", san-serif;
}


body h1 {
  color: #244751;
}

body .center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

body .centerV {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

body .dropzone-style {
    width: 500px;
    height: 200px;
    border-color: #666;
    border-style: dashed;
    border-radius: 5px;
    margin-top: 40vh;
    margin-left: 50%;
    transform: translate(-50%, -50%)

}

body .dropzone-text {
  margin-left: 50%;
  margin-top: 15vh;
  transform: translate(-50%, -50%);
  font-family: "Lato", san-serif;
  font-size: 1.5em;
}

body .parent-div {
  display: flex;
  justify-content: center;
}

body  .input {
  margin-top: 30%;
  width: 30%;
}

body .questions {
  margin-top: 20%;
  font-family: "Lato", san-serif;
  font-weight: 900;
  font-size: 4em;
  text-align: center;
}

body .security-questions {
  margin-top: 25%;
  font-family: "Lato", san-serif;
  font-weight: 900;
  font-size: 2em;
  text-align: center;
  width: 50%;
  height: 40px;
}

body .button-login-submit {
  margin-top: 40%;
  font-family: "Lato", san-serif;
  width: 20%;
  font-size: 1.25em;
}

body .button-toggle {
  margin-top: 10%;
  font-family: "Lato", san-serif;
  width: 25%;
  font-size: 1.25em;
}

body .button-user {
  font-family: "Lato", san-serif;

    margin: 0 auto;
    display: block;
    width: auto;

    vertical-align: middle;
}

body .video-panel {
  width: 840px;
  margin: 0 auto;
}

body .video-panel #webcam {
  width: 90%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

body .photo-panel {
  margin: 0 auto;
  height: 100%;
}

body .sidebar-image-gallery {
  font-size: 0;
  width: 100%;
  margin-top: 10px;
}

.sidebar-image-gallery img {
  opacity: 0.7;

}

.sidebar-image-gallery img:hover {
  opacity: 1;
}

#appearin-video {
  width: 100%;
  height: 500px;
  background-color: black;
}

#appearin-video .room {

  background-color: black;
}


body .new-user,  body .returning-user {
  margin-top: 75vh;
  height: 25vh;
  display: flex;
  align-items: center;
  width: 50%;
}



/*
body .returning-user {
  margin-top: 30vh;
  height: 70vh;
  margin-top: 420px;
  float: left;
  width: 33.33%;
}
*/

