#nav-bar {
  position: absolute;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #9abb90;
  display:block;
}

#nav-bar a {
  text-decoration: none;
  cursor: auto;
  color: white;

}

#nav-bar .logo {
  font-size: 2em;
  font-family: Lato, san-serif;
  font-weight: 900;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#welcome-nav-bar {
  position: absolute;
  height: 70vh;
  width: 100%;
  background-color: #0191C8;
  display:block;
}

#welcome-nav-bar img{
  float:right
}

#welcome-nav-bar .intro {
  font-size: 4em;
  font-family: Lato, san-serif;
  font-weight: 900;
  color: white;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;

}

#welcome-nav-bar .description {
  font-size: 14pt;
  font-family: Lato, san-serif;
  font-weight: 900;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;

}

#welcome-nav-bar .instruction {
  font-size: 2em;
  font-family: Lato, san-serif;
  font-weight: 900;
  color: white;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
