
  <nav id="nav-bar">
    <span class="logo">LOGO</span>
  </nav>
   <div class="video-panel">
  <video id="webcam"></video>
</div>

<div class="photo-panel">
  <div class="sidebar-image-gallery">
    <img src="http://placekitten.com/300/300" width="206" height="206" alt="">
    <img src="http://placekitten.com/300/300" width="206" height="206" alt="">
    <img src="http://placekitten.com/300/300" width="206" height="206" alt="">
    <img src="http://placekitten.com/300/300" width="206" height="206" alt="">
    <img src="http://placekitten.com/300/300" width="206" height="206" alt="">
    <img src="http://placekitten.com/300/300" width="206" height="206" alt="">
    <img src="http://placekitten.com/300/300" width="206" height="206" alt="">
  </div>
</div>
